<h1>List of Tasks</h1>
<ul>


<% @tasks.each do |task| %>


  <li> <p>
    Task Name:
  <%= task.action %> </p>

  <p>
    Task Description:
  <%= task.description %> </li> </p>


    <% end %>
  </ul>
